.sidebar {
    width: 200px;
    background: #007205;

    .nav-menu {
        display: flex;
        flex-direction: column;

        &_item {
            border: none;
            color: antiquewhite;
            font-size: 22px;
            background: #007205;
        }
    }
}